.logo{background-image: linear-gradient(to right, rgba(255,0,0, 0.3), rgba(255,255,0,0.3));
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 80%;

    

}


.logo img{
    height: 100%;
}